<!doctype html>
<html>
<head>
<style>
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
        <h1 align="center">Welcome to my program</h1>
<div class="center">
    <table align="center">
    <tr>
    <td>
    <a href="account">Account</a></td>
    <td><a href="calculator">Calculator</a></td>
</tr>
<tr>
    <td><acc-comp></acc-comp></td>
    <td><app-calculator></app-calculator></td>
</tr>
</table>
</div>
</body>
</html>